
<div class="container">
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="home">
      <strong>My Diary</strong>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
  <a class="navbar-item" href="{% url 'login' %}">Login</a>
  <a class="navbar-item" href="{% url 'signup' %}">Sign up</a>
  <a class="navbar-item" href="{% url 'about' %}">About</a>
  <a class="navbar-item" href="{% url 'home' %}">Home</a>
    </div>
  </div>
</nav>
</div>