{% extends 'base.html' %}

{% block title %}New Entry - Diary App{% endblock %}

{% block content %}
<h1>Write New Entry</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        {{ form.title.label_tag }}<br>
        {{ form.title }}
        {% if form.title.errors %}{{ form.title.errors }}{% endif %}
    </p>
    <p>
        {{ form.date.label_tag }}<br>
        {{ form.date }}
        {% if form.date.errors %}{{ form.date.errors }}{% endif %}
    </p>
    <p>
        {{ form.content.label_tag }}<br>
        {{ form.content }}
        {% if form.content.errors %}{{ form.content.errors }}{% endif %}
    </p>
    <p>
        {{ form.image.label_tag }}<br>
        {{ form.image }}
        {% if form.image.errors %}{{ form.image.errors }}{% endif %}
    </p>
    <p>
        {{ form.is_private.label_tag }} {{ form.is_private }}
        {% if form.is_private.errors %}{{ form.is_private.errors }}{% endif %}
    </p>
    <button type="submit">Save Entry</button>
</form>
{% endblock %}
