<footer class="footer has-background-dark has-text-white">
    <hr class="has-background-grey">
  <div class="content has-text-centered">
    <div class="columns">
      <div class="column">
        <h5 class="title is-6 has-text-white">Quick Links</h5>
        <p><a href="{% url 'home' %}" class="has-text-light">Launch App</a></p>
        <p><a href="{% url 'about' %}" class="has-text-light">About Us</a></p>
        <p><a href="{% url 'privacy' %}" class="has-text-light">Privacy Policy</a></p>
        <p><a href="{% url 'terms' %}" class="has-text-light">Terms of Service</a></p>
      </div>
      <div class="column">
        <h5 class="title is-6 has-text-white">Support</h5>
        <p><a href="#" class="has-text-light">Help Center</a></p>
        <p><a href="#" class="has-text-light">Contact Us</a></p>
        <p><a href="#" class="has-text-light">Feature Requests</a></p>
        <p><a href="#" class="has-text-light">Bug Reports</a></p>
      </div>
      <div class="column">
        <h5 class="title is-6 has-text-white">Connect</h5>
        <p>
          <a href="#" class="has-text-light mr-3"><i class="fab fa-twitter"></i> Twitter</a>
        </p>
        <p>
          <a href="#" class="has-text-light mr-3"><i class="fab fa-instagram"></i> Instagram</a>
        </p>
        <p>
          <a href="#" class="has-text-light mr-3"><i class="fab fa-facebook"></i> Facebook</a>
        </p>
      </div>
    </div>
    <hr class="has-background-grey">
    <p class="is-size-7">
      &copy; 2025 My Diary. All rights reserved. Made with ❤️ for journaling enthusiasts.
    </p>
  </div>
</footer>
